<html>
   <head>
      <title>The Materialize Selects Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
      
      <script>
         $(document).ready(function() {
            $('select').material_select();
         });
      </script>
   </head>
   
   <body class = "container">   
      <div class = "row">
         <form class = "col s12">
            <div class = "row">
                    <label>SELECT BOL</label>
                    <select>
                       <option value = "" disabled selected>SELECT BEATS</option>
                       <option value = "1">Dhaa</option>
                       <option value = "2">Dhin</option>
                       <option value = "3">Ga</option>
                       <option value = "4">Ka</option>
                       <option value = "5">Kat</option>
                       <option value = "6">Naa</option>
                       <option value = "7">Na</option>
                       <option value = "8">Taa</option>
                       <option value = "9">Tak</option>
                       <option value = "10">Tee</option>
                       <option value = "11">TiraKita</option>
                       <option value = "12">Tita</option>
                       <option value = "13">Tin</option>
                       <option value = "14">Too</option>
         
                    </select>               
            </div>
            	
         </form>       
      </div>
   </body>   
</html>